<%- include('./partials/head', {title: title}) %>
  <body>
    <h1><%= title %></h1>
    <a href="/">Back</a>
    <hr>
    <form method="POST" action>
      <div class="form-group">
        <label for="passphrase">Passphrase: </label>
        <input type="text" id="passphrase" placeholder="Enter the member's passphrase" name="passphrase" minlength="4" required="true">
      </div>
      <button type="submit">Submit</button>
    </form>
    <% if (error) { %>
      <p><%= error %></p>
    <% } %>
  </body>
</html>