<%- include('./partials/head', {title: title}) %>
  <body>
    <h2><%= title %></h2>
    <p>Are you sure you want to log out?</p>
    <form method="POST" action>
        <button>Log out</button>
    </form>
    <hr>
    <a href="/">Return to homepage</a>
  </body>
</html>