<%- include('./partials/head', {title: title}) %>
  <body>
    <h1><%= title %></h1>
    <a href="club/user/create">Sign up</a>
    <a href="club/user/login">Log in</a>
    <a href="club/user/join">Join club</a>
    <a href="club/message/create">New message</a>
  </body>
</html>